@model IEnumerable<RelogioPonto.Models.Relogio>

@{
    ViewBag.Title = "Index";
}

<h2>Quantidade Papel</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@foreach (var item in Model)
{

    <div class="row">

        <div class="col-xs-12  caixa">
            <h3>Nome: @item.Nome</h3>
            <hr />
            <h3>Descrição: @item.Descricao</h3>
            <hr />
            <h3>IP: @item.Ip</h3>
            <hr />
            <h3>Status: @item.Status </h3>
        </div>

        @*<div class="col-md-4 ">
            <div>
                @item.Nome
            </div>

            <div>
                @item.Descricao
            </div>

            <div>
                @item.Ip
            </div>

        </div>*@

    </div>

    <tr>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td=>
    </tr>
}

